@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width" />
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TP ANUAL DDS 2020 GRUPO 5</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/boostrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">GeSoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">EGRESOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">INGRESOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Git</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="myFunction(0)" class="nav-link js-scroll-trigger">@Session["UserName"]</a>
                        <div id="0">
                            <a class="nav-link js-scroll-trigger" style="display:none;">Cerrar sesion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>GeSoc</h1>
            <p class="lead">Gestion de Proyectos Sociales</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>EGRESOS</h2>

                    <script>
                        function myFunction(id) {
                            var x = document.getElementById(id);
                            if (x.style.display === "none") {
                                x.style.display = "block";
                            } else {
                                x.style.display = "none";
                            }
                        }
                    </script>

                    <p class="lead">Seleccione una opcion:</p>
                    <button onclick="myFunction(1)" target="_blank" class="button button2">Buscar Usuario</button>

                    <div id="1" style="display:none;">

                        <input type="text" id="usuarioNombre" placeholder="Nombre de usuario"  class="button button3" />
                        <button id="buscarUsuario"  class="button button3">Buscar usuario</button>

                        <div id="usuarioInfo"></div>


                        @using (Html.BeginForm("usuarios", "Home", FormMethod.Post))
                        {
                            <input type="submit" value="Mostrar todos los usuarios" class="button button3">
                        }
                        @{
                            if (ViewBag.usuarios != null)
                            {

                                foreach (var u in ViewBag.usuarios)
                                {
                                    <p><h3>Usuario encontrado sin AJAX</h3></p>
                                    <p><b>ID: </b>@u.id</p>
                                    <p><b>NOMBRE: </b>@u.nombre</p>

                                    foreach (var t in @u.tweets)
                                    {
                                        <p><b>TWEET: </b>@t.texto</p>
                                    }
                                }
                            }

                        }
                    </div>

                    <h6></h6>
                    <button onclick="myFunction(2)" target="_blank" class="button button2">Crear Usuario</button>
                    <div id="2" style="display:none;">

                        <p><input type="text" id="nuevoNombre" placeholder="Nombre" class="button button3"></p>
                        <p><input type="text" id="nuevoContrasenia" placeholder="Contraseña" class="button button3"></p>

                        <p><button id="crearUsuario" class="button button3">Crear nuevo usuario</button></p>

                        <div id="creacionInfo"></div>
                    </div>

                    <h6></h6>
                    <button onclick="myFunction(3)" target="_blank" class="button button2">Agregar Tweet de Usuario</button>
                    <div id="3" style="display:none;">

                        <!--<form name="items" id="items">
                        <div id="itemsInput"></div>
                        </form>
                        <p><button id="addInput" class="button button3"> + </button></p>
                        <p><input type="button" id="tweetear" placeholder="Publicar" class="button button3"></p>
                        <div id="tweetearInfo"></div>
                            -->

                        <p><button id="addInput" class="button button3"> + </button></p>
                        @using (Html.BeginForm("Tweetear", "Home", FormMethod.Post))
                        {
                            <div id="itemsInput"></div>
                            <p><input type="text" name="tweeteador" placeholder="Usuario" class="button button3"></p>
                            <p><input type="submit" id="tweetear" value="Publicar" class="button button3"></p>
                        }

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="services" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>INGRESOS</h2>

                    <p class="lead">Seleccione el producto al que le desea editar el stock</p>

                    <a href="https://github.com/manupawlow/DDS-Grupo-5" target="_blank" class="button button2">Cargar ingreso</a>
                </div>
            </div>
        </div>
    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Repositorio GitHub</h2>
                    <!-- <p class="lead"></p> -->
                    <a href="https://github.com/manupawlow/DDS-Grupo-5" target="_blank">Repositorio Grupo 5</a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Integrantes: Manuel Pawlow - Matias Goñi - Genaro Ciruzzi - Juan Manuel Brea</p>
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="~/Scripts/scrolling-nav.js"></script>


    <script src="~/Scripts/ajax.js"></script>

</body>

</html>
