
@{
    ViewBag.Title = "Mostrar";
}

<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width" />
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TP ANUAL DDS 2020 GRUPO 5</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/boostrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">GeSoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a onclick="myFunction(0)" class="nav-link js-scroll-trigger">@Session["UserName"]</a>
                        <div id="0">
                            <a class="nav-link js-scroll-trigger" style="display:none;">Cerrar sesion</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>GeSoc</h1>
            <p class="lead">Gestion de Proyectos Sociales</p>
        </div>
    </header>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    @{
                        <h2>@ViewBag.mostrar</h2>

                        if (ViewBag.mostrar == "EGRESOS")
                        {
                            if (ViewBag.egresos != null)
                            {

                                foreach (var u in ViewBag.egresos)
                                {
                                    <p><b>EGRESO ID: </b>@u.id_egreso</p>
                                    <p><b>FECHA: </b>@u.fecha</p>
                                    <p><b>DESCRIPCION: </b>@u.descripcion</p>
                                    <p><b>PRESUPUESTOS REQUERIDOS: </b>@u.cantPresupuestos</p>
                                    if (@u.ingreso != null)
                                    {
                                        <p><b>INGRESO VINCULADO: </b>@u.ingreso.id_ingreso</p>
                                    }
                                    if (@u.presupuestos != null)
                                    {
                                        <p><b>PRESUPUESTOS: </b>@u.presupuestos.Count</p>
                                    }
                                    if (@u.medioDePago != null)
                                    {
                                        <p><b>MEDIO DE PAGO: </b>@u.medioDePago.nombre</p>
                                    }
                                    if (@u.proveedorElegido != null)
                                    {
                                        <p><b>PROVEEDOR ELEGIDO: </b>@u.proveedorElegido.CUIT</p>
                                    }


                                    <p><b>ITEMS: Descripcion | Cantidad | Precio @u.items.Count</b></p>

                                    @*foreach (var i in u.items)
                                    {
                                        <p>@i.item.descripcion | @i.cantidad | @i.valor </p>
                                    }*@


                                    <p><b>-----------------------------------------</b></p>
                                }
                            }
                            else
                            {
                                <p><h3>No hay egresos actualmente</h3></p>
                            }
                        }

                        if (ViewBag.mostrar == "BANDEJA DE MENSAJES")
                        {
                            if (ViewBag.bandeja != null)
                            {
                                //HABLAR CON GENARO PARA QUE MUESTRE TODO LO DE LA BANDEJA DE MENSAJES
                            }
                            else
                            {
                                <h2>@ViewBag.msg</h2>
                            }
                        }

                        if (ViewBag.mostrar == "INGRESOS")
                        {
                            if (ViewBag.ingresos != null)
                            {
                                foreach (var i in ViewBag.ingresos)
                                {
                                    <p><b>INGRESO ID: </b>@i.id_ingreso</p>
                                    <p><b>DESCRIPCION: </b>@i.descripcion</p>
                                    <p><b>TOTAL: </b>@i.total</p>
                                    <p><b>EGRESOS ASIGNADOS: </b>@i.egresos.Count</p>
                                    <p><b>-----------------------------------------</b></p>
                                }
                            }
                            else
                            {
                                <p><h3>No hay ingresos actualmente</h3></p>
                            }
                        }
                    }


                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Integrantes: Manuel Pawlow - Matias Goñi - Genaro Ciruzzi - Juan Manuel Brea</p>
            <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="~/Scripts/scrolling-nav.js"></script>


    <script src="~/Scripts/ajax.js"></script>

</body>

</html>
