@{
    ViewBag.Title = "CriteriosCategorias";
}



<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width" />
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TP ANUAL DDS 2020 GRUPO 5</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/boostrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/scrolling-nav.css" rel="stylesheet">

</head>

<!-- Bootstrap core JavaScript -->
<script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
<script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom JavaScript for this theme -->
<script src="~/Scripts/scrolling-nav.js"></script>


<script src="~/Scripts/ajax.js"></script>


<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand js-scroll-trigger" href="#page-top">GeSoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")#about" class="nav-link js-scroll-trigger">EGRESOS</a>
                    </li>
                    <li class="nav-item">
                            <a href="@Url.Action("Index", "Home")#services" class="nav-link js-scroll-trigger">INGRESOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")#proyectos" class="nav-link js-scroll-trigger">PROYECTOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")#proveedores" class="nav-link js-scroll-trigger">PROVEEDORES</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Index", "Home")#criterios_y_categorias" class="nav-link js-scroll-trigger">CRITERIOS Y CATEGORIAS</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Index", "Home")#bitacora_de_operaciones" class="nav-link js-scroll-trigger">BITACORA</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="@Url.Action("Index", "Home")#contact">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="myFunction(0)" class="nav-link js-scroll-trigger">@Session["UserName"]</a>
                    </li>
                    <li id="0">
                        <a href="@Url.Action("Login", "Home")" class="nav-link js-scroll-trigger" style="display:block; color:firebrick">Cerrar sesion</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="criterios_y_categorias" class="bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">

                    <h2>CRITERIOS Y CATEGORIAS</h2>

                    <button onclick="myFunction(1)" target="_blank" class="button button2">Cargar criterio</button>
                    <div id="1" style="display:none;">

                        @using (Html.BeginForm("CargarCriterio", "CriterioCategoria", FormMethod.Post))
                        {
                            <p><input type="text" name="descripcion" placeholder="Descripcion" class="button button3"></p>
                            <p><input type="number" name="jerarquia" placeholder="Jerarquia" class="button button3"></p>

                            <p><input type="submit" value="Cargar criterio" class="button button4"></p>
                        }
                    </div>
                    <h6></h6>

                    <button onclick="myFunction(2)" target="_blank" class="button button2">Cargar categoria a criterio</button>
                    <div id="2" style="display:none;">

                        @using (Html.BeginForm("CargarCategoriaAcriterio", "CriterioCategoria", FormMethod.Post))
                        {
                            <p><input type="text" name="descripcionCat" placeholder="Descripcion categoria" class="button button3"></p>
                            <p><input type="text" name="descripcionCrit" placeholder="Descripcion criterio" class="button button3"></p>
                            <p><input type="submit" value="Cargar categoria" class="button button4"></p>
                        }
                    </div>
                    <h6></h6>

                    <button onclick="myFunction(3)" target="_blank" class="button button2">Asociar categoria a item</button>
                    <div id="3" style="display:none;">

                        @using (Html.BeginForm("AsignarCategoria", "CriterioCategoria", FormMethod.Post))
                        {
                            <p><input type="text" name="categoria" placeholder="Descripcion categoria" class="button button3"></p>
                            <p><input type="text" name="item_desc" placeholder="Descripcion item" class="button button3"></p>
                            <p><input type="submit" value="Asociar" class="button button4"></p>
                        }
                    </div>
                    <h6></h6>


                </div>
            </div>
        </div>
    </section>
</body>