@{
    ViewBag.Title = "Egreso";
}



<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width" />
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>TP ANUAL DDS 2020 GRUPO 5</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/boostrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <div class="container">
            <a href="@Url.Action("Index", "Home")" class="navbar-brand js-scroll-trigger" href="#page-top">GeSoc</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    @*<li class="nav-item">
                            <a href="@Url.Action("Egreso", "Egreso")" class="nav-link js-scroll-trigger" href="#about">EGRESOS</a>
                        </li>*@
                    <li class="nav-item">
                        <a href="@Url.Action("Ingreso", "Ingreso")" class="nav-link js-scroll-trigger" href="#services">INGRESOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Proyecto", "Proyecto")" class="nav-link js-scroll-trigger" href="#proyectos">PROYECTOS</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("Proveedores", "Proveedores")" class="nav-link js-scroll-trigger" href="#proveedores">PROVEEDORES</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CriteriosCategorias", "CriterioCategoria")" class="nav-link js-scroll-trigger" href="#criterios_y_categorias">CRITERIOS Y CATEGORIAS</a>
                    </li>
                    <li class="nav-item">
                        <a href="@Url.Action("verBitacora", "Home")" class="nav-link js-scroll-trigger" href="#bitacora_de_operaciones">BITACORA</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">GitHub</a>
                    </li>
                    <li class="nav-item">
                        <a onclick="myFunction(0)" class="nav-link js-scroll-trigger">@Session["UserName"]</a>
                    </li>
                    <div id="0">
                        <a href="@Url.Action("Login", "Home")" class="nav-link js-scroll-trigger" style="display:block; color:firebrick">Cerrar sesion</a>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <header class="bg-primary text-white">
        <div class="container text-center">
            <h1>GeSoc</h1>
            <p class="lead">Gestion de Proyectos Sociales</p>
        </div>
    </header>


    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>EGRESOS</h2>

                    <h6></h6>
                    <button onclick="myFunction(1)" target="_blank" class="button button2">Cargar nuevo egreso</button>
                    <div id="1" style="display:none;">

                        <p><button style="margin-left:40px;" id="addInput" class="button button3"> Agregar item </button></p>
                        @using (Html.BeginForm("CargarEgreso", "Egreso", FormMethod.Post))
                        {
                            <div id="itemsInput"></div>
                            <p><input style="margin-left:40px;" type="text" name="descripcion" placeholder="Descripcion" class="button button3"></p>
                            <p><input style="margin-left:40px;"style="margin-left:40px;"type="number" name="cantPresup" placeholder="Cantidad de presupuestos requeridos" class="button button3"></p>
                            <p><input style="margin-left:40px;"style="margin-left:40px;"type="submit" id="cargarEgreso" value="Cargar egreso" class="button button4"></p>
                        }

                    </div>

                    <p></p>
                    <h6></h6>
                    <button onclick="myFunction(2)" target="_blank" class="button button2">Agregar presupuesto</button>
                    <div id="2" style="display:none;">
                        <p><button style="margin-left:40px;" id="addInputPresupuesto" class="button button3"> Agregar item </button></p>

                        @using (Html.BeginForm("AgregarPresupuesto", "Egreso", FormMethod.Post))
                        {
                            <div id="itemsInputPresupuesto"></div>
                            <p><input style="margin-left:40px;"type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3"></p>
                            <p><input style="margin-left:40px;"type="text" name="CUIT" placeholder="CUIT Proveedor" class="button button3"></p>
                            <p><input style="margin-left:40px;"type="submit" id="agregarPresupuesto" value="Cargar presupuesto" class="button button4"></p>

                        }
                    </div>
                    <p></p>

                    <button onclick="myFunction(3)" target="_blank" class="button button2">Elegir presupuesto</button>
                    <div id="3" style="display:none;">
                        @using (Html.BeginForm("ElegirPresupuesto", "Egreso", FormMethod.Post))
                        {
                            <input style="margin-left:40px;"type="number" name="istyle="margin-left:40px;"style="margin-left:40px;"d_egreso" placeholder="ID del Egreso" class="button button3">
                            <input type="number" name="id_presupuesto" placeholder="ID del Presupuesto" class="button button3">
                            <input type="submit" value="Elegir" class="button button4">
                        }

                    </div>


                    <h6></h6>
                    <button onclick="myFunction(4)" target="_blank" class="button button2">Validar Egreso</button>
                    <div id="4" style="display:none;">

                        <h4></h4>
                        @using (Html.BeginForm("ValidarEgreso", "Egreso", FormMethod.Post))
                        {
                            <input style="margin-left:40px;"type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3">
                            <p style="margin-left:40px;">Seleccionar criterio de validacion:</p>
                            <input style="margin-left:40px;"type="submit" value="Menor valor" class="button button4">
                            <p></p>
                        }

                    </div>

                    <h6></h6>
                    <button onclick="myFunction(5)" target="_blank" class="button button2">Bandeja de Mensajes de Egreso</button>
                    <div id="5" style="display:none;">

                        @using (Html.BeginForm("BandejaDeMensajesDeEgreso", "Egreso", FormMethod.Post))
                        {
                            <p>
                                <input style="margin-left:40px;" type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3">
                                <input type="submit" value="Mostrar bandeja" class="button button4">
                            </p>
                        }

                    </div>
                    <!--

                    <h6></h6>
                    <button onclick="myFunction(52)" target="_blank" class="button button2">Agregar criterio a item</button>
                    <div id="52" style="display:none;">

                        @using (Html.BeginForm("AsignarCriterio", "Home", FormMethod.Post))
                        {
                            <p><input type="text" name="item_desc" placeholder="Descripcion item" class="button button3"></p>


                            <p><button id="asignarCriterio" class="button button4">Asignar</button></p>
                        }

                    </div>
                    <h6></h6>


                    <p></p>
                    <button onclick="myFunction(20)" target="_blank" class="button button2">Buscar presupuesto</button>
                    <div id="20" style="display:none;">
                        <h6></h6>
                        @using (Html.BeginForm("MostrarPresupuestos", "Home", FormMethod.Post))
                        {
                            <input type="submit" value="Mostrar todos los presupuestos" class="button button4">
                        }
                        <p>Buscar presupuesto por id:</p>
                        @using (Html.BeginForm("MostrarPresupuestoConItems", "Home", FormMethod.Post))
                        {
                            <input type="text" name="id_presupuesto" placeholder="ID del Presupuesto" class="button button3" />
                            <input type="submit" value="Buscar" class="button button4">
                        }
                        <p>Buscar presupuesto por egreso:</p>
                        @using (Html.BeginForm("MostrarPresupuestosPorEgreso", "Home", FormMethod.Post))
                        {
                            <input type="number" name="id_egreso" placeholder="ID del Egreso" class="button button3">
                            <input type="submit" value="Buscar" class="button button4">
                        }
                    </div>
                    -->




                </div>
            </div>
        </div>
    </section>

    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/vendor/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="~/Scripts/scrolling-nav.js"></script>

    <script src="~/Scripts/ajax.js"></script>

</body>